.App{
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}
.ground{
  padding: 60px 150px;

}
.AppUser{
  @extend .App
}

.back{
  display: flex;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background:url(../assets/designe/back.jpg) no-repeat center;
  background-size: cover;
  padding: 20px;
}
